@font-face {
  font-family: 'Bixa';
  src: url("../fonts/NTBixa-Color.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilbert';
  src: url("../fonts/gilbert-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'iA Writer Duospace';
  src: url("../fonts/iawriterduospace-regular.eot");
  src: url("../fonts/iawriterduospace-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/iawriterduospace-regular.woff2") format("woff2"), url("../fonts/iawriterduospace-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'iA Writer Duospace';
  src: url("../fonts/iawriterduospace-bold.eot");
  src: url("../fonts/iawriterduospace-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/iawriterduospace-bold.woff2") format("woff2"), url("../fonts/iawriterduospace-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'iA Writer Duospace';
  src: url("../fonts/iawriterduospace-regularitalic.eot");
  src: url("../fonts/iawriterduospace-regularitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/iawriterduospace-regularitalic.woff2") format("woff2"), url("../fonts/iawriterduospace-regularitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

.maxcontent h2 {
  line-height: calc(1em + 2vmin); }

.maxcontent h4 {
  margin-bottom: 0.125em; }
  .maxcontent h4 a {
    color: #1572b6;
    color: color(main);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
    .maxcontent h4 a:hover {
      display: block;
      -webkit-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
              transform: rotate(5deg); }

.maxcontent header {
  text-align: center;
  margin-bottom: 1em; }
  .maxcontent header h2 {
    font-size: calc(1.5em + 1.75vw);
    margin-bottom: 0; }
  .maxcontent header p {
    margin: 0;
    font-weight: bold;
    font-size: 125%; }

.maxcontent table {
  width: 100%;
  border-spacing: 0;
  border-top: 2px solid #e8e8e8;
  border-top: 2px solid color(border);
  margin-bottom: 2em; }
  .maxcontent table p:last-of-type {
    margin-bottom: 0; }

.maxcontent th,
.maxcontent td {
  vertical-align: top;
  padding: 0.75em;
  border-bottom: 2px solid #e8e8e8;
  border-bottom: 2px solid color(border); }

.maxcontent .map {
  margin-bottom: 2em; }

.maxcontent .address span {
  display: block; }

.maxcontent .talk-speaker h4 {
  text-align: center; }

@media all and (min-width: 48em) {
  .maxcontent .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .maxcontent .address {
    margin-left: 1em; }
  .maxcontent .talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .maxcontent .talk-session {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 65%;
            flex: 1 0 65%; }
  .maxcontent .talk-speaker {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%; } }

.maxcontent .emoji {
  font-size: 125%; }

.maxcontent .cta {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  margin: 1.5em 0; }
  .maxcontent .cta a {
    background-color: #1572b6;
    background-color: color(main);
    color: #fafaff;
    color: color(bg);
    -webkit-transition: -webkit-box-shadow 0.3s ease-out;
    transition: -webkit-box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
            box-shadow: 0 0 1px transparent;
    padding: 0.5em 1em; }
    .maxcontent .cta a:hover {
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.gilbert {
  font-family: 'Gilbert';
  font-size: 125%; }
