---
layout: default
---

<article class="c-upcoming-event">
{% for post in site.posts limit:1 %}
  <header class="c-event__header">
    <h2 class="c-event__title">
      {{ post.title }}
    </h2>
    <p><strong>Event location:</strong> {{ post.location }}</p>
    <p><strong>Event date:</strong> {{ post.event-date | date: "%b %-d, %Y" }}</p>
  </header>

  <a href="http://www.meetup.com/SingaporeCSS/events/232771365/" data-event="232766411" class="mu-rsvp-btn">RSVP</a>

  <div class="c-event__content">
    {{ post.content }}
  </div>
{% endfor %}
</article>

<hr>

<h2>Past meetups</h2>
<ul class="o-flex c-past-events">
  {% for post in site.posts offset:1 %}
    <li class="o-flex3__item c-past-event">
      <a class="c-past-event__link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="c-past-event__meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>{{ post.title }}</h3>
      </a>
    </li>
  {% endfor %}
</ul>

<p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

