---
layout: default
css: maxcontent
---
{% for post in site.posts limit:1 %}
<article class="c-upcoming-event {{ post.css }}">
  {% unless post.special %}
  <header class="c-event__header">
    <h2 class="c-event__title">
      {{ post.title }}
    </h2>
    <p><strong>Event location:</strong> {{ post.location }}</p>
    <p><strong>Event date:</strong> {{ post.event-date | date: "%b %-d, %Y" }}</p>
  </header>

  <a href="https://www.meetup.com/SingaporeCSS/events/{{ post.event-id }}/" class="c-rsvp"><span>RSVP</span><span>at meetup.com</span></a>

  <div class="c-event__content">
    {{ post.content }}
  </div>
  {% endunless %}

  {% if post.special %}
  {{ post.content }}
  {% endif %}

</article>
{% endfor %}

<hr>

<h2>Past meetups</h2>
<ul class="l-past-events c-past-events">
  {% for post in site.posts offset:1 limit:3 %}
    <li class="l-past-event c-past-event">
      <a class="c-past-event__link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="c-past-event__meta">{{ post.event-date | date: "%b %-d, %Y" }}</span>
        <h3>{{ post.title }}</h3>
      </a>
    </li>
  {% endfor %}
</ul>
<a class="l-archive__link c-archive__link" href="{{ "/archives" | prepend: site.baseurl }}">View full list</a>

<p class="c-rss">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

