<footer class="c-site-footer">
  <div class="o-site-wrapper">
    <div class="c-footer__about">
      <div class="c-footer__logo">
        {% include logo.svg %}
        <h4>SingaporeCSS</h4>
      </div>
      <p class="c-footer__desc">
        Talk.CSS is an event organised by SingaporeCSS, the meet-up group for all things CSS on this little red dot. Join our <a href="https://gitter.im/SingaporeCSS/discussions">Gitter group</a> for some lively discussion and troubleshooting adventures. If you ever get stuck with any CSS issues, there's always someone who can help.
      </p>
    </div>
    <ul class="c-footer__links">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>
</footer>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://a248.e.akamai.net/secure.meetupstatic.com/s/script/2012676015776998360572/api/mu.btns.js?id=fcierj0ottt3fe0uc1dhbbjpsq";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>
