<footer class="c-site-footer">
  <div class="o-site-wrapper">
    <div class="c-footer__about">
      <div class="c-footer__logo">
        {% include logo.svg %}
        <h4>SingaporeCSS</h4>
      </div>
      <p class="c-footer__desc">
        Talk.CSS is an event organised by SingaporeCSS, the meet-up group for all things CSS on this little red dot. We hang out on <a href="https://launchpass.com/kopijs">KopiJS</a> all the time so if you're not there already, why not join us? If you ever get stuck with any CSS issues, odds are someone in there can help.
      </p>
    </div>
    <ul class="c-footer__links">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>
</footer>
