<form class="l-newsletter c-newsletter" action="https://tinyletter.com/SingaporeCSS" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/SingaporeCSS', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <div class="o-site-wrapper">
    <h4>The SingaporeCSS monthly</h4>
    <p>Couldn't make it to Talk.CSS? Missed our regular segment of HTML & CSS news of the month plus interesting links? Here it is in newsletter form :)</p>
    <input type="text" name="email" id="tlemail" placeholder="email@example.com">
    <input type="submit" value="Subscribe">
    <input type="hidden" value="1" name="embed"/>
    <p><a href="https://tinyletter.com" target="_blank" rel="noopener noreferrer">powered by TinyLetter</a></p>
  </div>
</form>