// ==========
// Components
// ==========
// Site header styles
.c-site-header {
  background-color: map-get($colors, secondary);
  background-color: color(secondary);
  border-top: 0.5rem solid map-get($colors, main);
  border-top: 0.5rem solid color(main);
  margin-bottom: 1.5rem;
  text-align: center;
}

.c-site__title {
  @include responsive-text-size(giga);
  font-family: $display-font;
}

.c-site__nav {
  padding-bottom: 1.5rem;
  line-height: 1.5;
}

.c-site__link {
  &:hover {
    text-shadow: 0 0 0.35px map-get($colors, text), 0 0 0.35px map-get($colors, text);
    text-shadow: 0 0 0.35px color(text), 0 0 0.35px color(text);

    &::after {
      text-shadow: none;
    }
  }

  &::after {
    content: '|';
    display: inline-block;

  }

  &:last-child::after {
    content: '';
  }
}

// Events listing
.c-past-event {
  box-shadow: 0 2px 5px 0 map-get($colors, shadow);
  box-shadow: 0 2px 5px 0 color(shadow);
}

@for $i from 1 through length($highlights) {
  .c-past-event:nth-child(#{length($highlights)}n + #{$i}) {
    border-top: 5px solid nth($highlights, $i);
  }
}

.c-past-event__link {
  display: block;
  padding: 1rem;
}

// Colour swatch section
.c-colour {
  text-align: center;
}

.c-swatch {
  @include center;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 map-get($colors, shadow);
  box-shadow: 0 2px 5px 0 color(shadow);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 0;
    font-size: 75%;
  }
}

// Meetup videos section
.c-videos {
  @include cf;
  margin-bottom: 3rem;
}

.c-video {
  box-shadow: 0 2px 5px 0 map-get($colors, shadow);
  box-shadow: 0 2px 5px 0 color(shadow);
  margin-bottom: 1.5rem;

  @include mappy-bp(small medium) {
    
  }

  @include mappy-bp(medium) {
    
  }
}

.c-video__link {
  line-height: 0;
}

.c-video__img {
  display: block;
  line-height: 1.5;
  min-height: 9em;
  position: relative;
  width: 100%;
  @include mappy-bp(medium) {
    display: inline-block;
    vertical-align: top;
    width: 16em;
  }

  &::before {
    content: '';
    display: block;
    min-height: 9em;
  }

  &::after {
    content: attr(alt)', image WIP, click to watch video';
    display: block;
    padding: 0.5em 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, secondary);
    background-color: color(secondary);
  }
}

.c-video__desc {
  padding: 1rem;

  @include mappy-bp(medium) {
    display: inline-block;
    width: calc(100% - 21rem);
  }
}

// Meetup speakers section
.c-speaker {
  text-align: center;
  padding: 1em 0 0 1em;
}

.c-speaker__img {
  border-radius: 50%;
  height: 8rem;
  margin-bottom: 0.5rem;
  width: 8rem;
}

.c-speaker__link {
  @include responsive-text-size(deci);
  color: map-get($colors, main);
  color: color(main);
  display: inline-block;
  margin-bottom: 0.5rem;
}

.c-speaker__intro {
  @include responsive-text-size(deci);
  text-align: left;
}

// Misc items
.c-content__fig {
  margin-bottom: 1.5rem;
}

.c-credits {
  @include responsive-text-size(deci);
  font-style: italic;
}

.c-rsvp {
  position: relative;
}

.c-rsvp span:first-child {
  display: inline-block;
  z-index: 2;
  background: map-get($colors, secondary);
  background: color(secondary);
  box-shadow: 0 2px 5px 0 map-get($colors, shadow);
  box-shadow: 0 2px 5px 0 color(shadow);
  color: map-get($colors, bg);
  color: color(bg);
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  margin-right: 0.25em;
  margin-bottom: 1.5rem;
}

.c-rsvp span:last-child {
  z-index: 1;
  display: inline-block;
  color: rgba(0,0,0,0.8);
  font-style: italic;
  font-size: 0.75em;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(-50%);
}

.c-rsvp:hover span:last-child,
.c-rsvp:focus span:last-child {
  opacity: 1;
  transform: translateX(0%);
}

// PLatform status page
.c-platform {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 3rem;
}

.c-platform__link {
  display: block;
  flex: 1 0 calc(50% - 2rem);
  border: 1px solid map-get($colors, secondary);
  border: 1px solid color(secondary);
  padding: 1.5rem 1rem 0;
  margin: 1rem;
  transition: border 0.3s;

  p {
    transition: color 0.3s;
  }

  &:hover {
    border: 1px solid map-get($colors, main);
    border: 1px solid color(main);

    p {
      color: map-get($colors, main);
      color: color(main);
    }
  }
}

.c-platform__icon {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2em;
  margin-bottom: 1rem;
}

// Site footer styles
.c-site-footer {
  background: map-get($colors, main);
  background: color(main);
  color: map-get($colors, bg);
  color: color(bg);
  padding: 1rem 0;

  @include mappy-bp(medium) {
    padding: 2rem 0;
  }

  p a {
    border-bottom: 1px solid map-get($colors, bg);
    border-bottom: 1px solid color(bg);
    color: map-get($colors, bg);
    color: color(bg);

    &:hover {
      border-bottom: 0;
      text-shadow: 0 0 0.35px map-get($colors, bg), 0 0 0.35px map-get($colors, bg);
      text-shadow: 0 0 0.35px color(bg), 0 0 0.35px color(bg);
    }
  }
}

.c-footer__about {
  text-align: center;

  @include mappy-bp(medium) {
    align-items: center;
    display: flex;
  }

  p {
    text-align: left;
  }
}

.c-footer__logo {
  @include mappy-bp(medium) {
    margin-right: 1rem;
    flex: 1 1 25%;
  }
}

.c-logo {
  background: map-get($colors, bg);
  background: color(bg);
  border-radius: 1rem;
  height: 8rem;
  padding: 0.5rem;
  width: 8rem;

  @include mappy-bp(large) {
    text-align: center;
  }
}

.c-footer__desc {
  @include mappy-bp(medium) {
    flex: 1 1 75%;
  }
}

.c-footer__links {
  text-align: center;

  li {
    display: inline-block;
  }
}

.c-footer__link {
  span {
    margin: 0 1rem;
  }

  span:last-child {
    display: none;
  }

  @include mappy-bp(xsmall) {
    border: 1px solid map-get($colors, bg);
    border: 1px solid color(bg);
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem;

    span {
      vertical-align: middle;
      margin: 0;
    }

    span:last-child {
      display: inline-block;
    }
  }
}
