// ==========
// Components
// ==========
// Site header styles
.c-site-header {
  background-color: map-get($colors, secondary);
  background-color: color(secondary);
  border-top: 0.5rem solid map-get($colors, main);
  border-top: 0.5rem solid color(main);
  margin-bottom: 1.5rem;
  text-align: center;
}

.c-site__title {
  @include responsive-text-size(giga);
  font-family: $display-font;
}

.c-site__nav {
  padding-bottom: 1.5rem;
}

// Events listing
.c-past-event {
  box-shadow: 0 2px 5px 0 map-get($colors, shadow);
  box-shadow: 0 2px 5px 0 color(shadow);
  margin-bottom: 1.5rem;
}

@for $i from 1 through length($highlights) {
  .c-past-event:nth-child(#{length($highlights)}n + #{$i}) {
    border-top: 5px solid nth($highlights, $i);
  }
}

.c-past-event__link {
  display: block;
  padding: 1rem;
}

// Meetup videos section
.c-videos {
  @include cf;
  margin-bottom: 3rem;
}

.c-video {
  box-shadow: 0 2px 5px 0 map-get($colors, shadow);
  box-shadow: 0 2px 5px 0 color(shadow);
  margin-bottom: 1.5rem;

  @include mappy-bp(small medium) {
    @include span(6 of 12);

    &:nth-child(2n) {
      @include last;
    }
  }

  @include mappy-bp(medium) {
    @include span(12 of 12);
  }
}

.c-video__link {
  line-height: 0;
}

.c-video__img {
  min-height: 9em;
  position: relative;
  width: 100%;
  @include mappy-bp(medium) {
    display: inline-block;
    vertical-align: top;
    width: 16em;
  }

  &::before {
    background-color: map-get($colors, secondary);
    background-color: color(secondary);
    border: 2px dashed map-get($colors, main);
    border: 2px dashed color(main);
    content: '';
    display: block;
    height: 9em;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::after {
    content: attr(alt)', image WIP, click to watch video';
    display: block;
    line-height: 1.5;
    padding: 0 1em;
    position: absolute;
  }
}

.c-video__desc {
  padding: 1rem;

  @include mappy-bp(medium) {
    display: inline-block;
    width: calc(100% - 21rem);
  }
}

// Meetup speakers section
.c-speaker {
  text-align: center;
}

.c-speaker__img {
  border-radius: 50%;
  height: 8rem;
  margin-bottom: 0.5rem;
  width: 8rem;
}

.c-speaker__link {
  @include responsive-text-size(deci);
  color: map-get($colors, main);
  color: color(main);
  display: inline-block;
  margin-bottom: 0.5rem;
}

.c-speaker__intro {
  @include responsive-text-size(deci);
  text-align: left;
}

// Misc items
.c-content__fig {
  margin-bottom: 1.5rem;
}

.c-credits {
  @include responsive-text-size(deci);
  font-style: italic;
}

// Site footer styles
.c-site-footer {
  background: map-get($colors, main);
  background: color(main);
  color: map-get($colors, bg);
  color: color(bg);
  padding: 1rem 0;

  @include mappy-bp(medium) {
    padding: 2rem 0;
  }

  p a {
    border-bottom: 1px solid map-get($colors, bg);
    border-bottom: 1px solid color(bg);
    color: map-get($colors, bg);
    color: color(bg);

    &:hover {
      border-bottom: 0;
      text-shadow: 0 0 0.35px map-get($colors, bg), 0 0 0.35px map-get($colors, bg);
      text-shadow: 0 0 0.35px color(bg), 0 0 0.35px color(bg);
    }
  }
}

.c-footer__about {
  text-align: center;

  @include mappy-bp(medium) {
    align-items: center;
    display: flex;
  }

  p {
    text-align: left;
  }
}

.c-footer__logo {
  @include mappy-bp(medium) {
    margin-right: 1rem;
    flex: 1 1 25%;
  }
}

.c-logo {
  background: map-get($colors, bg);
  background: color(bg);
  border-radius: 1rem;
  height: 8rem;
  padding: 0.5rem;
  width: 8rem;

  @include mappy-bp(large) {
    text-align: center;
  }
}

.c-footer__desc {
  @include mappy-bp(medium) {
    flex: 1 1 75%;
  }
}

.c-footer__links {
  text-align: center;

  li {
    display: inline-block;
  }
}

.c-footer__link {
  span {
    margin: 0 1rem;
  }

  span:last-child {
    display: none;
  }

  @include mappy-bp(xsmall) {
    border: 1px solid map-get($colors, bg);
    border: 1px solid color(bg);
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem;

    span {
      vertical-align: middle;
      margin: 0;
    }

    span:last-child {
      display: inline-block;
    }
  }
}
