// =======
// Generic
// =======
// Resets
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p, ol, ul {
    margin: 0;
    padding: 0;
}

main, li {
    display: block;
}

h1, h2, h3, h4 {
    font-size: inherit;
}

strong {
    font-weight: bold;
}

a, button {
    color: inherit;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s;
}

a {
    text-decoration: none;
}

input {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
}

button, select {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

select {
    appearance: none;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

// Ground-zero styles
:root{
    @each $name, $color in $colors {
        --#{$name}-color: $color;
    }
}

html {
    height: 100%;
}

body {
    @include responsive-text-size(base);
    font-family: $base-font;
    height: 100%;
    background-color: color(bg);
    color: color(text);
}
