// =======
// Generic
// =======
// Resets
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  cursor: pointer;
  transition: background 0.3s;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: 0;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
}

button,
select {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;
}

select {
  appearance: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

// Ground-zero styles
:root {
  @each $name, $color in $colors {
    --#{$name}-color: $color;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
}

body {
  @include responsive-text-size(base);
  background-color: color(bg);
  color: color(text);
  font: 16px/1 sans-serif;
  font-family: $base-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

hr {
  margin-bottom: 1.5rem;
}

p a {
  color: color(main);
  transition: all 0.2s;

  &:hover {
    text-shadow: 0 0 0.35px color(main), 0 0 0.35px color(main);
  }
}
