.l-past-events,
.l-speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.l-past-event,
.l-speaker {
  flex: 0 0 100%;

  @include mappy-bp(small medium) {
    flex: 0 0 49%;
  }

  @include mappy-bp(medium) {
    flex: 0 0 31%;
  }
}

@supports (display:grid) {
  .l-past-events,
  .l-speakers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-gap: 1em;
  }

  .l-past-event,
  .l-speaker {
    margin-bottom: 0;
  }
}

.l-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}