// ========
// Settings
// ========
// Breakpoints
@import 'lib/mappy-bp';
$breakpoints: (
  xsmall: 390px,
  small: 480px,
  medium: 768px,
  large: 1280px,
);

$textpoints: (
  small: 36.875em,
  large: 48em,
);

// Fonts
@charset 'utf-8';

@font-face {
  font-family: 'Bixa';
  src: url('../fonts/NTBixa-Color.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilbert';
  src: url('../fonts/gilbert-bold.otf')  format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'League Mono';
  src: url('../fonts/leaguemono-regular.eot');
  src: url('../fonts/leaguemono-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguemono-regular.woff2') format('woff2'),
       url('../fonts/leaguemono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Mono';
  src: url('../fonts/leaguemono-bold.eot');
  src: url('../fonts/leaguemono-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguemono-bold.woff2') format('woff2'),
       url('../fonts/leaguemono-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'League Mono';
  src: url('../fonts/leaguemono-ultralight.eot');
  src: url('../fonts/leaguemono-ultralight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguemono-ultralight.woff2') format('woff2'),
       url('../fonts/leaguemono-ultralight.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

// Base font stacks
$base-font: 'League Mono', Courier, monospace;
$display-font: 'Bixa', Georgia, serif;

// Set typography sizes
$text-sizing: (
  deci: (
    small: (
      font-size: 0.868rem,
      line-height: 1.5
    )
  ),
  base: (
    small: (
      font-size: 1.042rem,
      line-height: 1.5
    ),
    large: (
      font-size: 1.25rem,
      line-height: 1.5
    )
  ),
  deca: (
    small: (
      font-size: 1.25rem,
      line-height: 1.5
    ),
    large: (
      font-size: 1.5rem,
      line-height: 1.5
    )
  ),
  hecto: (
    small: (
      font-size: 1.5rem,
      line-height: 1.5
    ),
    large: (
      font-size: 1.8rem,
      line-height: 1.5
    ),
  ),
  kilo: (
    small: (
      font-size: 1.8rem,
      line-height: 1.5
    ),
    large: (
      font-size: 2.16rem,
      line-height: 1.5
    ),
  ),
  mega: (
    small: (
      font-size: 2.16rem,
      line-height: 1.5
    ),
    large: (
      font-size: 2.592rem,
      line-height: 1.5
    ),
  ),
  giga: (
    small: (
      font-size: 3.11rem,
      line-height: 1.5
    ),
    large: (
      font-size: 3.732rem,
      line-height: 1.5
    ),
  )
);

// Colours
$colors: (
  main: #1572b6,
  secondary: #33a9dc,
  border: #e8e8e8,
  shadow: rgba(0, 0, 0, 0.3),
  text: #110,
  bg: #fafaff,
);

$highlights: (
  #a93a16,
  #e09a6c,
  #1572b6,
  #33a9dc,
);

// Z-index
$layers: (
);
