// ========
// Settings
// ========

// Susy settings
@import '../node_modules/susy/sass/susy';
$susy: (
  global-box-sizing: border-box,
);

// Breakpoints
@import 'lib/mappy-bp';
$breakpoints: (
  xsmall: 390px,
  small: 480px,
  medium: 768px,
  large: 1280px,
);

$textpoints: (
  small: 36.875em,
  large: 48em,
);

// Fonts
@charset 'utf-8';

@font-face {
  font-family: 'Bixa';
  src: url('../fonts/NTBixa-Color.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.eot');
  src: url('../fonts/hack-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hack-regular.woff2') format('woff2'),
       url('../fonts/hack-regular.woff') format('woff'),
       url('../fonts/hack-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bold.eot');
  src: url('../fonts/hack-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hack-bold.woff2') format('woff2'),
       url('../fonts/hack-bold.woff') format('woff'),
       url('../fonts/hack-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic.eot');
  src: url('../fonts/hack-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hack-italic.woff2') format('woff2'),
       url('../fonts/hack-italic.woff') format('woff'),
       url('../fonts/hack-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bolditalic.eot');
  src: url('../fonts/hack-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hack-bolditalic.woff2') format('woff2'),
       url('../fonts/hack-bolditalic.woff') format('woff'),
       url('../fonts/hack-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// Base font stacks
$base-font: 'Hack', Arial, sans-serif;
$display-font: 'Bixa', 'Hack', Arial, sans-serif;

// Set typography sizes
$text-sizing: (
  deci: (
    small: (
      font-size: 0.868rem,
      line-height: 1.5
    )
  ),
  base: (
    small: (
      font-size: 1.042rem,
      line-height: 1.5
    ),
    large: (
      font-size: 1.25rem,
      line-height: 1.5
    )
  ),
  deca: (
    small: (
      font-size: 1.25rem,
      line-height: 1.5
    ),
    large: (
      font-size: 1.5rem,
      line-height: 1.5
    )
  ),
  hecto: (
    small: (
      font-size: 1.5rem,
      line-height: 1.5
    ),
    large: (
      font-size: 1.8rem,
      line-height: 1.5
    ),
  ),
  kilo: (
    small: (
      font-size: 1.8rem,
      line-height: 1.5
    ),
    large: (
      font-size: 2.16rem,
      line-height: 1.5
    ),
  ),
  mega: (
    small: (
      font-size: 2.16rem,
      line-height: 1.5
    ),
    large: (
      font-size: 2.592rem,
      line-height: 1.5
    ),
  ),
  giga: (
    small: (
      font-size: 3.11rem,
      line-height: 1.5
    ),
    large: (
      font-size: 3.732rem,
      line-height: 1.5
    ),
  )
);

// Colours
$colors: (
  main: #1572b6,
  secondary: #33a9dc,
  border: #e8e8e8,
  shadow: rgba(0, 0, 0, 0.3),
  text: #110,
  bg: #fafaff,
);

$highlights: (
  #a93a16,
  #e09a6c,
  #1572b6,
  #33a9dc,
);

// Z-index
$layers: (
);
