// ==========
// SETTINGS - Global variables, config switches
// ==========
@import 'settings';

// ==========
// Special one-off event styles
// ==========
.maxcontent {
  h4 {
    margin-bottom: 0.125em;

    a {
      color: map-get($colors,main);
      color: color(main);
      transition: transform 0.2s ease-out;

      &:hover {
        display:block;
        transform: rotate(5deg);
      }
    }
  }

  ol {
    margin-top: 2em;
    counter-reset: li-counter;

    li {
      position: relative;
      margin-bottom: 1.5em;
      padding: 1.5em;
      background-color: #eaeaea;
      text-align: center;

      &:before {
        position: absolute;
        top: -0.4em;
        left: -0.3em;
        width: 1.5em;
        height: 1.3em;
       
        font-size: 2em;
        line-height: 1.2;
        font-weight: bold;
        text-align: center;
        color: #464646;
        background-color: #d0d0d0;
        transform: rotate(-20deg);
        content: counter(li-counter);
        counter-increment: li-counter;
      }
    }
    img {
      max-height: 5em;
    }

    p {
      margin-bottom: 0;
      margin-left: 1em;
      text-align: left;
    }
  }

  header {
    text-align: center;
    margin-bottom: 1em;

    h2 {
      font-size: calc(1.5em + 1.75vw);
      margin-bottom: 0;
    }

    p {
      margin: 0;
      font-weight: bold;
      font-size: 125%;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-top: 2px solid map-get($colors, border);
    border-top: 2px solid color(border);
    margin-bottom: 2em;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  th,
  td {
    vertical-align: top;
    padding: 0.75em;
    border-bottom: 2px solid map-get($colors, border);
    border-bottom: 2px solid color(border);
  }

  .map {
    margin-bottom: 2em;
  }

  .address span {
    display: block;
  }

  .talk-session {
    margin-bottom: 1em;
  }

  .talk-speaker {
    h4 {
      text-align: center;
    }
  }

  @include mappy-bp(max small) {
    tr:nth-child(2n) {
      background-color: map-get($colors, highlight);
      background-color: color(highlight);
    }

    td,
    th {
      display: block;
    }

    th {
      text-align: left;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  @include mappy-bp(small) {
    ol {
      li {
        display: flex;
        align-items: center;
      }
    }
  }

  @include mappy-bp(medium) {
    .map {
      display: flex;
    }

    .address {
      margin-left: 1em;
    }

    .talk {
      display: flex;
    }

    .talk-session {
      flex: 1 0 65%;
    }

    .talk-speaker {
      flex: 1 0 calc(35% - 1em);
      margin-left: 1em;
    }
  }

  .emoji {
    font-size: 125%;
  }

  .cta {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    margin: 1.5em 0;
    
    a {
      background-color: map-get($colors, main);
      background-color: color(main);
      color: map-get($colors, bg);
      color: color(bg);
      transition: box-shadow 0.3s ease-out;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      padding: 0.5em 1em;

      &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.gilbert {
  font-family: 'Gilbert';
  font-size: 125%;
}

@supports (display:grid) {
  @include mappy-bp(max small) {
    .maxcontent {
      ol {
        li {
          display: grid;
          grid-template-columns: auto 1fr;
        }

        img {
          opacity: 0.2;
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          max-height: 12em;
          margin: auto;
        }

        p {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          margin: auto;
        }
      }
    }
  }
}
