/*
 * CSS architecture for Talk.CSS website
 * Developed by Chen Hui Jing <kakyou_tensai@yahoo.com>
 * -----
 * Structure based on ITCSS by Harry Roberts
 * http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
 * Rationale for class name-spacing can be found at
 * http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
 */

// ==========
// SETTINGS - Global variables, config switches
// ==========
@import "settings";
// ==========
// TOOLS - Default mixins and functions
// ==========
@import "tools";
// ==========
// GENERIC - Ground-zero styles (Normalize.css, resets, box-sizing)
// ==========
@import "generic";
// ==========
// BASE - Unclassed HTML elements (type selectors)
// ==========
@import "base";
// ==========
// VENDOR LIBRARIES - External libraries and plugins
// ==========
@import 'lib/syntax-highlighting';
// ==========
// OBJECTS - Cosmetic-free design patterns
// ==========
@import "objects";
// ==========
// COMPONENTS - Designed components, chunks of UI
// ==========
@import "components";
// ==========
// TRUMPS - Helpers and overrides
// ==========
@import "trumps";
// ==========
// SHAME - For ad-hoc debugging or testing. Should be empty by default. 
// ==========
@import "shame";
