---
layout: default
title:  "Talk.CSS #24 max-content Edition 🔥"
date:   2017-11-27 19:00:00 +0800
location: Microsoft
event-date: 2018-01-23 19:00:00 +0800
categories: meetup
event-id: 244533222
special: true
css: maxcontent
meetup: 24
---
<header>
  <h2>Talk.CSS <span class="gilbert">max-content</span> edition</h2>
  <p>✨ January 23, 2018 ✨</p>
</header>

<p>For the opening Talk.CSS of 2018, we decided to expand our little meet-up. Into a way bigger one. The idea stemmed from the fact that there wasn't going to be a CSSConf.Asia this year, and we thought we'd compensate for it by expanding our January meetup.</p>

<p>We decided to call it the <code>max-content</code> edition. <code>max-content</code>, like from the CSS grid specification? Get it? Oh, never mind. But the point was to make it a half-day event, with more speakers in the line-up. The fact that this particular meetup was part of the festivities for <a href="http://devfest.asia/">DevFest.Asia</a> meant that some awesome people were going to be in Singapore anyway.</p>

<h2>Getting speakers</h2>

<div class="speakers" style="display:flex;margin:1.5em 0;">
  <div class="speaker" style="margin-right:1em;">
    <img style="border-top-left-radius:84%;border-top-right-radius:94%;border-bottom-left-radius:72%;border-bottom-right-radius:83%;transform:rotate(-5deg);" src="{{ site.url }}/assets/img/max-content/andy.jpg" srcset="{{ site.url }}/assets/img/max-content/andy@2x.jpg 2x" alt="Andy Clarke"/>
  </div>
  <div class="speaker" style="margin-right:1em;">
    <img style="border-top-left-radius:73%;border-top-right-radius:100%;border-bottom-left-radius:100%;border-bottom-right-radius:82%;transform:rotate(-7deg);" src="{{ site.url }}/assets/img/max-content/seb.jpg" srcset="{{ site.url }}/assets/img/max-content/seb@2x.jpg 2x" alt="Sebastiaan Deckers"/>
  </div>
  <div class="speaker" style="margin-right:1em;">
    <img style="border-top-left-radius:95%;border-top-right-radius:70%;border-bottom-left-radius:80%;border-bottom-right-radius:100%;transform:rotate(-2deg);" src="{{ site.url }}/assets/img/max-content/zell.jpg" srcset="{{ site.url }}/assets/img/max-content/zell@2x.jpg 2x" alt="Zell Liew"/>
  </div>
  <div class="speaker" style="margin-right:1em;">
    <img style="border-top-left-radius:84%;border-top-right-radius:94%;border-bottom-left-radius:72%;border-bottom-right-radius:83%;transform:rotate(5deg);" src="{{ site.url }}/assets/img/max-content/mandy.jpg" srcset="{{ site.url }}/assets/img/max-content/mandy@2x.jpg 2x" alt="Mandy Michael"/>
  </div>
  <div class="speaker">
    <img style="border-top-left-radius:73%;border-top-right-radius: 70%;border-bottom-left-radius:80%;border-bottom-right-radius:82%;transform:rotate(-7deg);" src="{{ site.url }}/assets/img/max-content/huijing.jpg" srcset="{{ site.url }}/assets/img/max-content/huijing@2x.jpg 2x" alt="Chen Hui Jing"/>
  </div>
</div>

<p>And that's how we got <a href="http://batmandy.com/">Mandy Michael</a> on our list. She had already bought a ticket to JSConf.Asia 2018, and very kindly agreed to speak at Talk.CSS as well. We also decided to make it a paid event for the first time, so we could gather up some funds to fly in one more speaker that we really wanted to have. So we managed to get <a href="https://stuffandnonsense.co.uk/about">Andy Clarke</a>, who generously agreed to come over as well.</p>

<p><a href="https://twitter.com/sebdeckers">Sebastiaan Deckers</a> was a friend of the meetup, who had offered to share on one of the pony-fills he had built since last year, so we were glad he could make it on the day. <a href="https://zellwk.com/">Zell Liew</a> had presented at Generate Conference earlier last year as well and we felt his topic was too practical and useful not to share. And we would have <a href="https://www.chenhuijing.com">Hui Jing</a> round off the evening with an ode to the web.</p>

<h2>Support from sponsors</h2>

<div class="sponsors">
  <div class="sponsor">
    <a href="https://www.mozilla.org/en-US/"><img src="{{ site.url }}/assets/img/mozilla.svg" alt="Mozilla"></a>
  </div>
  <div class="sponsor">
    <a href="https://www.spgroup.com.sg/home"><img  src="{{ site.url }}/assets/img/max-content/spdigital.svg" alt="SP Group"></a>
  </div>
  <div class="sponsor">
    <img style="height:4em" src="{{ site.url }}/assets/img/max-content/angel.svg" alt="Angel sponsor">
  </div>
  <div class="sponsor">
    <a href="https://www.microsoft.com/en-sg/"><img src="{{ site.url }}/assets/img/microsoft.svg" alt="Microsoft"></a>
  </div>
  <div class="sponsor">
    <a href="https://www.wantedly.com/"><img style="height:2em" src="{{ site.url }}/assets/img/max-content/wantedly.svg" alt="Wantedly"></a>
  </div>
</div>

<p>At the heart of it, this wasn't really a conference per se, just an expanded meetup, so we still retained its cosy, casual feel. <a href="https://www.microsoft.com/en-sg">Microsoft</a> was very supportive of this idea and offered us a venue that could hold up to 150 attendees. Given that the average turn-out for us was about 20–30 people, we put up an ambitious target of 100 attendees.</p>

<p>We also managed to get in touch with <a href="https://www.wantedly.com/">Wantedly</a>, who were already involved with JSConf.Asia and they offered to sponsor the coffee vendor for the event, because nobody wants to sit through 3 straight hours of talks without a break. We couldn't offer much in terms of swag, but we could offer good coffee.</p>

<p><a href="https://www.mozilla.org/en-US/">Mozilla</a> jumped in early on and really gave us the confidence to pull the whole thing off. And one other thing about the Singapore Tech community is that we are really tight-knit, and our friends from <a href="https://www.spgroup.com.sg/home">SP Digital</a> offered to pitch in as well. With that, we were able to cover T-shirts for all attendees as well. We also got an angel sponsor, who declined to be made known, but we felt the need to recognise their contribution with a little angel logo as well.</p>

<h2>On the day</h2>

<p>One of the things we were quite proud of was the standees we printed for the event, because the design was done entirely in HTML and CSS. This was largely because of colour font support, or the lack of it. The only image editing software that supports colour fonts appears to be Adobe CC 2017, which we did not have access to.</p>

<img style="display:block;margin:1.5em auto;" src="{{ site.url }}/assets/img/max-content/banner.jpg" srcset="{{ site.url }}/assets/img/max-content/banner@2x.jpg 2x" alt="Talk.CSS standee"/>

<p>Colour fonts do work in Firefox and Edge though, so the standee was designed in the browser, and we sent a screenshot of the full page to the printer's. Of course in as high a resolution as they required. The end result turned out better than we expected.</p>

<img style="display:block;margin:1.5em auto;" srcset="{{ site.url }}/assets/img/max-content/volunteers-480.jpg 480w, {{ site.url }}/assets/img/max-content/volunteers-640.jpg 640w, {{ site.url }}/assets/img/max-content/volunteers-960.jpg 960w" sizes="(max-width: 400px) 100vw, (max-width: 960px) 75vw, 640px" src="{{ site.url }}/assets/img/max-content/volunteers-640.jpg" alt="Our beloved friends who helped out" />

<p>We also had a number of friends who volunteered to help out with the logistics of registering attendees, handing out T-shirts and so on, which made the whole event run much smoother than if it was only Chris and Hui Jing running the show.</p>

<p>Given that the event itself was held on a Tuesday afternoon from 3–6pm, the turn-out was much better than we could have asked for, with 107 attendees showing up for the event. We are extremely thankful for every single member of the community who helped spread the word, even if they couldn't make it for the event themselves.</p>

<img style="display:block;margin:1.5em auto;" srcset="{{ site.url }}/assets/img/max-content/turnout-480.jpg 480w, {{ site.url }}/assets/img/max-content/turnout-640.jpg 640w, {{ site.url }}/assets/img/max-content/turnout-960.jpg 960w" sizes="(max-width: 400px) 100vw, (max-width: 960px) 75vw, 640px" src="{{ site.url }}/assets/img/max-content/turnout-640.jpg" alt="A decent sized turnout" />

<h3>Talk sessions</h3>

<iframe style="display:block;margin:0 auto 1.5em;" width="560" height="315" src="https://www.youtube.com/embed/pq5vqNG6JGo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>Our first speaker, Andy Clarke, kicked things off with a fantastically delivered talk on Designing Inspired Style Guides, that had attendees riveted and entertained.</p>

<iframe style="display:block;margin:0 auto 1.5em;" width="560" height="315" src="https://www.youtube.com/embed/xZf8K_MRuwk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>Sebastiaan Deckers did his lightning talk on using CSS variables to pony-fill the generic font family, <code>system-ui</code>, which was introduced in the CSS Fonts Level 4 specification. It was short but extremely informative.</p>

<iframe style="display:block;margin:0 auto 1.5em;" width="560" height="315" src="https://www.youtube.com/embed/x7_dgISmQHI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>Our next speaker was Zell Liew, who spoke about building responsive CSS components, offering very practical advice on building components that could be re-used across larger sites and applications.</p>

<iframe style="display:block;margin:0 auto 1.5em;" width="560" height="315" src="https://www.youtube.com/embed/UCv4xPe3gm0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>The coffee was really well-received and also gave attendees a chance to mingle and chat while letting their minds digest all the great content from the first half of the event.</p>

<p><a href="">Mandy Michael</a> showcased an stunning array of CSS text effects that left everyone with their jaws hanging and amazed that it could all be achieved with pure CSS. She even introduced variable fonts, which are still new enough that not many people are talking about them yet.</p>

<iframe style="display:block;margin:0 auto 1.5em;" width="560" height="315" src="https://www.youtube.com/embed/9EU7urOl1LE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>Finally, <a href="">Hui Jing</a> rounded off the evening with a relatively less-technical talk about embracing the web for what it is. It was essentially an ode to the web as a medium, and a call to encourage participation in shaping the web platform.</p>

<iframe style="display:block;margin:0 auto 1.5em;" width="560" height="315" src="https://www.youtube.com/embed/nYi4PDg5PRE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>All the talks were recorded by <a href="https://engineers.sg/">Engineers.SG</a> and they had an amazing turn-around time, publishing the videos in less than 24 hours. They are consummate professionals in this regard, and given they are an entirely no-profit volunteer-run organisation, we were more than happy to become a Silver Tier supporter with our remaining funds.</p>

<h2>Closing remarks</h2>

<p>We are really grateful to everybody involved, from the speakers, to the sponsors, to the volunteers, and to everyone in our community who attended, as well as those who couldn't make it, but helped us spread the word. Together you all made this a reality. It really means a lot to see people coming out to show support for CSS.</p>

<p>SingaporeCSS genuinely thanks each and every one of you.</p>

<p>Truly <span class="emoji" role="img" tabindex="0" aria-label="red heart">&#x2764;&#xFE0F;</span>.</p>

<p style="margin-bottom:3em;font-style:italic;">P.S. If you happen to be on Facebook, we have posted <a href="https://www.facebook.com/groups/SingaporeCSS/photos/">all the photos</a> we have to the <a href="https://www.facebook.com/groups/SingaporeCSS">SingaporeCSS Facebook group</a>.</p>

<div class="l-nav c-nav">
  {% if page.previous.url %}
    <a class="l-prev" href="{{ site.url }}{{page.previous.url}}">&laquo; Talk.CSS #{{ page.previous.meetup }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="l-next" href="{{ site.url }}{{page.next.url}}">Talk.CSS #{{ page.next.meetup }} &raquo;</a>
  {% endif %}
</div>

<p class="c-credits">All videos courtesy of <a href="https://engineers.sg/">Engineers.SG</a>.</p>
